<form action="/auth/register" , method="post">
    <fieldset>
        <legend>Register</legend>
        <table id='regDetails'>
            <tr>
                <td><label for='nameInput'>username</label></td>
                <td><input type='text' name="username" /></td>
            </tr>
            <tr>
                <td><label for='ageInput'>password</label></td>
                <td><input type='password' name="password" /></td>
            </tr>
            <tr>
                <td colspan='2'><input type='submit' id='submitButton' /></td>
            </tr>
        </table>
        <p>Already have an account?</p><a href="./">login</a>
    </fieldset>
</form>
